body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    background-color:skyblue;
}
.form{
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 220px;
    margin-left: 510px;
    padding: 20px;
    color: #333;
    font-family: fan;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 10px 10px black;
}
.userprof{
    width: 50px;
    height: 50px;
    left: 525px;
    position: absolute;
    margin-top: 85px;
}
.username{
    position: absolute;
    margin-left: 560px;
    margin-bottom: 10px;
    top: 350px;
    border: 2px solid gold;
    border-radius: 3px;
}
.password{
    position: absolute;
    margin-left: 562px;
    top: 403px;
    border: 2px solid gold;
    border-radius: 3px;
}
.password-vector{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 400px;
    left: 539px;
}
.forgot{
    position: absolute;
    margin-top: 390px;
    margin-left: 40px;
}
.submit{
    position: absolute;
    margin-left: 570px;
    top: 480px;
    padding: 15px; 
    background: gold; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: tahoma;
}
.submit:hover{
    transform: scale(1.1);
    transition: .5s;
    border: 2px solid black;
}